---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.jsx";
import Footer from "../../components/Footer.jsx";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Fragment>
    {
        post.data.fullWidth ? (
            <Layout>
                <Header client:load />
                <div class="pt-24 bg-[#0e2a29]">
                    <Content />
                </div>
                <Footer client:load />
            </Layout>
        ) : (
            <BlogPost {...post.data}>
                <Content />
            </BlogPost>
        )
    }
</Fragment>
