---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.jsx";
import EventsList from "../components/EventsList.jsx";
---

<Layout title="Eventos y Retiros - Medicina Universal">
    <Header client:load />
    <main>
        {/* Espacio para el header fijo */}
        <div class="h-24 bg-[#0e2a29]"></div>
        <EventsList client:load />
    </main>
    <Footer client:load />
</Layout>
