---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.jsx";
import DynamicGallery from "../components/DynamicGallery.jsx";
---

<Layout title="Galería - Medicina Universal">
    <Header client:load />
    <main>
        {/* Espacio para el header fijo */}
        <div class="h-24 bg-[#0e2a29]"></div>
        <DynamicGallery client:load />
    </main>
    <Footer client:load />
</Layout>
